<div class="footer-content"> 
    <div class="footer-person"> 
        <span class="footer-name">Estefania Barria </span> 
        <a href="https://github.com/TefiB" class="footer-github" target="_blank"> GitHub</a> 
        <a href="https://ar.linkedin.com/in/estefan%C3%ADa-barria-3b92121a3" class="footer-github" target="_blank"> Linkedin</a> 
    </div> 
    <div class="footer-separator"></div> 
    <div class="footer-person"> 
        <span class="footer-name">Fabian Florentin </span> 
        <a href="https://github.com/Fabian-Florentin" class="footer-github" target="_blank"> GitHub</a> 
        <a href="https://www.linkedin.com/in/fabian-gabriel-florentin-8b7113ba/" class="footer-github" target="_blank"> Linkedin</a> 
    </div> 
</div>